# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
.env
.pytest_cache/

# Node
node_modules/

# Logs
*.log
fire_log.txt

# Model weights and large artifacts (Uncommented for Deployment)
# *.pt
# *.mp4
# weights/

# Dataset (VERY IMPORTANT)
data/
data_stage3/
data_stage4/

# YOLO runs
runs/

# Editor / OS
.vscode/
.idea/
.DS_Store